<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <canvas id="confetti-holder" class="confetti"></canvas>
    <main class="container fullscreen valign-wrapper">
        <div class="row valign-wrapper">
            <div class="col s12 xl5 center-align">
                <div class="row">
                    <h6>
                        Faltan
                        <span id="countdown" class="countdown"></span>
                    </h6>
                    <img src="/media/logo.png" alt="60 Aniversario Kuroda" class="responsive-img">
                </div>
            </div>
            <div class="col s12 xl5 offset-xl3 center-align">
                <div class="row">
                    <h4>
                        ¡Ven y participa!
                    </h4>
                    <p class="flow-text">
                        Obtén 1 boleto por cada $1,000 de compra y entrarás al sorteo de aniversario en el que podrás ganar
                        <span class="red-text text-darken-4">
                            <strong>GRANDES PREMIOS</strong>
                        </span>
                    </p>
                    <strong>
                        <a href="register" class="btn-large green darken-2 ">REGÍSTRATE HOY MISMO</a>
                    </strong>
                    <p>
                        <a href="login" class="btn red darken-3 white-text ">Iniciar sesión</a>
                    </p>
                    <p>
                        <a href="#">Términos y condiciones del sorteo</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/materialize.min.js "></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/index.min.js"></script>
    <script src="/js/confetti.js"></script>
</body>

</html>