<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <canvas id="my-canvas" class="confetti"></canvas>
    <main>
        <div class="center-align valign-wrapper test">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="row">
                        <div class="col s10 offset-s1 m12 center-align">
                            <h6>
                                Faltan:
                                <span id="countdown" class="countdown "></span>
                            </h6>
                            <img src="/media/logo.png" alt="Rifa del 60 Aniversario de Kuroda" class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="col s12 m12">
                    <div class="row">
                        <div class="col s12 m8 offset-m2">
                            <h4>
                                ¡Ven y participa!
                            </h4>
                            <p class="flow-text center-align">
                                Obtén 1 boleto por cada $1,000 de compra y entrarás al sorteo de aniversario en el que podrás ganar
                                <span class="red-text text-darken-4">
                                    <strong>GRANDES PREMIOS</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <span class="hide-on-med-and-up">
                            <div class="col s5 offset-s1">
                                <a href="#" class="btn red darken-3">Entrar</a>
                            </div>
                            <div class="col s5">
                                <strong>
                                    <a href="#" class="btn green darken-3">Registro</a>
                                </strong>
                            </div>
                        </span>
                        <span class="hide-on-small-and-down show-on-medium">
                            <div class="col m6 push-m1">
                                <a href="#" class="btn-large red darken-3">Entrar</a>
                            </div>
                            <div class="col m6 pull-m1">
                                <strong>
                                    <a href="#" class="btn-large green darken-3">Registro</a>
                                </strong>
                            </div>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <h6>
                                <a href="#">Términos y condiciones</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/materialize.min.js "></script>
    <script src="/js/countdown.js "></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/index.min.js"></script>
    <script src="/js/confetti.js"></script>


</body>

</html>