<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h3>Inicio de sesión</h3>
        <% if (!bandera)  { %>
            <p class="red-text text-accent-4 flow-text white-text">Usuario y/o contraseña incorrectos. Intenta de nuevo.</p>
            <% } %>
                <form method="post" action="validarLogin">
                    <div class="input-field">
                        <label for="user">Correo</label>
                        <input type="text" name="email">
                    </div>
                    <div class="input-field">
                        <label for="password">Contraseña</label>
                        <input type="password" name="pass">
                    </div>
                    <div class="input-field center-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                        </button>
                    </div>
                </form>
                <p class="grey-text text-darken-4">
                    Si no recuerdas tu correo o contraseña, comunícate al
                    <a href="tel:01-800-5876-321">01 800 5876 321</a> para recibir asistencia
                </p>
                <p>
                    Si todavía no tienes cuenta,
                    <a href="register">haz clic aquí para crear tu usuario</a>
                </p>
                <p class="center-align">
                    <a href=".">
                        Regresar
                    </a>
                </p>
    </div>



    <script src="/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>