<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

<h2><%= nombre %></h2>
<h3><%= apellido %></h3>

<h4>el resultado de la llamada al API</h4>
<h2 style="color: blue;"><%= datos %></h2>
	
</body>
</html>







