<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container center-align">
        <% if(datos.length > 0){ %>
            <div class="row">
                <h1>
                    Total de boletos:
                </h1>
                <div class="col s12 m4 offset-m4">
                    <div class="red white-text valign-wrapper center-align tickets">
                        <%= datos.length %>

                    </div>
                    <div>
                        <h2>Mis boletos</h2>
                        <ul>
                            <% for (var i = 0; i < datos.length; i++) { %>
                                <li>
                                    <%= datos[i] %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <a href="uploadticket" class="waves-effect btn-large btn-label">
                        Registrar más facturas
                    </a>
                </div>
            </div>
            <% } else{ %>
                <p class="flow-text">Todavía no tienes boletos. Haz clic en el botón para registrarlos.</p>
                <a href="uploadticket" class="btn">Registrar facturas</a>
                <% } %>
    </div>
    <script src="/js/materialize.min.js"></script>
</body>

</html>