<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <main class="container">
        <div class="hide">
            <p class="flow-text red-text text-accent-4">
                Este usuario ya se encuentra registrado.
            </p>
        </div>

        <h3 class="red-text text-darken-4">Registro de usuario</h3>
        <p>
            Si ya tienes cuenta,
            <a href="login">haz clic aquí para iniciar sesión</a>
        </p>

        <form method="post" action="registrarCliente">
            <div class="row">
                <h5>Datos personales</h5>
                <div class="col s12 m4 ">
                    <div class="input-field">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nomCliente">
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="input-field">
                        <label for="apellidoPaterno">Apellido paterno</label>
                        <input type="text" name="apellidoPaterno">
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="input-field">
                        <label for="apellidoMaterno">Apellido materno</label>
                        <input type="text" name="apellidoMaterno">
                    </div>
                </div>
            </div>

            <div class="row">
                <h5>Domicilio</h5>
                <div class="col s12 m6 xl4">
                    <div class="input-field">
                        <label for="nomCalle">Calle</label>
                        <input type="text" name="nomCalle">
                    </div>
                </div>
                <div class="col s12 m3 xl2">
                    <div class="input-field">
                        <label for="numExterior">Número exterior</label>
                        <input type="text" name="numExterior">
                    </div>
                </div>
                <div class="col s12 m3 xl2">
                    <div class="input-field">
                        <label for="numInterior">Número interior</label>
                        <input type="text" name="numInterior">
                    </div>
                </div>
                <div class="col s12 m6 xl4">
                    <div class="input-field">
                        <label for="nomColonia">Colonia</label>
                        <input type="text" name="nomColonia">
                    </div>
                </div>
                <div class="col s12 m6 xl2">
                    <div class="input-field">
                        <label for="codigoPostal">Código Postal</label>
                        <input type="text" name="codigoPostal">
                    </div>
                </div>
                <div class="col s12 m6 xl5">
                    <div class="input-field">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" name="nomCiudad">
                    </div>
                </div>
                <div class="col s12 m6 xl5">
                    <div class="input-field">
                        <label for="estado">Estado</label>
                        <input type="text" name="nomEstado">
                    </div>
                </div>
            </div>
            <div class="row">
                <h5>Contacto</h5>
                <div class="col s12 m6 ">
                    <div class="input-field">
                        <label for="numTelefono">Teléfono casa</label>
                        <input type="text" name="numTelefono">
                    </div>
                </div>
                <div class="col s12 m6 ">
                    <div class="input-field">
                        <label for="numCelular">Celular</label>
                        <input type="text" name="numCelular">
                    </div>
                </div>

                <div class="col s12 m4 ">
                    <div class="input-field">
                        <label for="email">Correo</label>
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="input-field">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="input-field">
                        <label for="repeatPassword">Repetir contraseña</label>
                        <input type="password" name="repeatPassword">
                    </div>
                </div>

                <div class="center-align">
                    <button class="btn waves-effect waves-green green darken-2" type="submit">ENVIAR</button>
                </div>
            </div>
        </form>


        <p class="center-align">
            <a href="." class="btn-small waves-effect waves-light black white-text">
                Regresar
            </a>
        </p>
    </main>
    <canvas id="confetti-holder" class="confetti hide-on-med-and-down"></canvas>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/index.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>