<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="/media/60aniv.ico">
    <title>Nueva contraseña</title>
</head>

<body>
    <nav class="black white-text">
        <div class="nav-wrapper">
            <div class="brand-logo left">
                Hola
                <%=nombreUsuario%>
            </div>
            <ul class="nav-mobile right">
                <li>
                    <a href="cerrarSesion" class="btn-small red darken-4 waves-effect waves-red hide-on-med-and-up">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                    <a href="cerrarSesion" class="btn-small red darken-4 waves-effect waves-red hide-on-small-and-down">
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <main>

        <div class="container">
            <h1 class="green-text text-darken-4">
                Nueva contraseña
            </h1>
            <p class="flow-text">
                Escribe tu nueva contraseña para poder iniciar sesión nuevamente:
            </p>
            <div class="row">
                <div class="col s12 m8 l6 white">
                    <form method="post" action="actualizarPass">
                        <div class="input-field">
                            <label for="">Nueva contraseña</label>
                            <input type="password" name="pass" placeholder="Escribe tu nueva contraseña" class="requiredField" onkeyup="validaRegistro()"
                                id="password">
                        </div>
                        <div class="input-field">
                            <label for="">Confirma contraseña</label>
                            <input type="password" name="samePass" placeholder="Confirma contraseña" class="requiredField" onkeyup="validaRegistro()"
                                id="confirmPassword">
                            <span id="message" class="text-darken-3"></span>
                        </div>

                        <div class="input-field left-align">
                            <button class="btn waves-effect waves-green green darken-2" type="submit" name="action" id="submit" disabled>ENVIAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a7b8c5c4b401e45400cc43c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>