<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav class="black white-text">
        <div class="nav-wrapper">
            <div class="brand-logo left">
                Hola USUARIO
            </div>
            <ul class="nav-mobile right">
                <li>
                    <a href="." class="btn-small red darken-4 waves-effect waves-red hide-on-med-and-up">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                    <a href="." class="btn-small red darken-4 waves-effect waves-red hide-on-small-and-down">
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th># de cliente</th>
                    <th>Factura</th>
                    <th>Importe</th>
                    <th>Sucursal</th>
                    <th>Fecha compra</th>
                    <th>Acción</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>Usuario de prueba</th>
                    <th>correo@pruebas.com</th>
                    <th>ABCD1234</th>
                    <th>3500</th>
                    <th>Kuroda Culiacán - Bravo</th>
                    <th>dd/mm/aaaa</th>
                    <form action="">
                        <th>
                            <select class="browser-default">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="">Aceptar factura</option>
                                <option value="">Rechazar factura</option>
                            </select>
                        </th>
                        <th>
                            <div class="input-field">
                                <button type="submit" class="btn-small">Enviar</button>
                            </div>
                        </th>
                    </form>
                </tr>
            </tbody>
        </table>


    </main>



    <script src="/js/materialize.min.js "></script>
    <script src="/js/script.js"></script>
</body>

</html>